In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('titanic_train.csv')

In [3]:
df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df.shape()

TypeError: 'tuple' object is not callable

In [ ]:
df.shape

In [ ]:
df.isnull

In [ ]:
df.isnull()

In [ ]:
b = "saurab"+"shrestha"
print(b)

In [ ]:
b = "saurab"+" shrestha"
print(b)

In [ ]:
//ram krishna

In [ ]:
# //ram krishna

In [ ]:
list = [1,2,3,4,5,6,7]

In [ ]:
list[-1]

In [ ]:
list[0]

In [ ]:
list[:-1]

In [ ]:
list[::-1]

In [ ]:
(1,2,3,4)

In [ ]:
# tuple immutable

In [ ]:
dic = {'name':'saurab'}
print(dic)

In [ ]:
print(dic['name'])

In [ ]:
dict1 = {1:'ram', 2:'shyam', '3':'hari'}
dict1.keys()
dict1.values()

In [ ]:
print(dict1.keys(),
dict1.values())

In [ ]:
def function1():
    print("hello")
    
function1()

In [ ]:
def func2(arg):
    print(arg)

func2("hello guys this is from argument")

In [ ]:
ints = int(input("Enter a no guys \t"))

if ints % 2 == 0:
    print(f"{ints} is even")
    
else:
    print(f"{ints} is odd")

In [ ]:
print(f"sq of {ints} is {ints ** 2} .")

In [ ]:
print("sq of {ints} is {ints ** 2} .")

In [ ]:
class class1():
    def __init__(self):
        self.id = 1
        self.name = "Saurab"
    
    def show(self):
        print(self.id, self.name)
        
    def show_dami(self):
        print(f" Name:{self.name}")
        
ob1 = class1()
ob1.show_dami()
ob1.show()

In [ ]:
class class2(class1):
    def show_dami_id(self):
        print(f" ID:{self.id}")
        
ob2 = class2()
ob2.show_dami_id()

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

x = Student("Mike", "Olsen", 2019)
print(x.graduationyear)

In [ ]:
# numpy
# module
def even_odd(n):
    """
    comment ho hai guys
    """
    
    if n % 2 ==0:
        print("even")
        
    else:
        print("odd")

In [ ]:
even_odd(55)

In [ ]:
from evenodd import even_odd as eo
# module load vayena vane kernel restart garne

In [ ]:
eo(4)

In [ ]:
# sudhan kadel
# ram acharya
# rabindra sapkota
# suraj 
# numpy kada ho hai guys

In [ ]:
import numpy as np

In [ ]:
np.__version__

In [ ]:
# shift tab le documentation auxa
# tab le available methods haru dekhauxa
v = np.array([1,2,3,4])

In [ ]:
type(v)

In [ ]:
print(type(v))

In [ ]:
v

In [ ]:
zeros = np.zeros([5,5])

In [ ]:
print(zeros)

In [ ]:
zeros.shape

In [ ]:
zeros.reshape(1,25)

In [5]:
zeros.reshape(25,1)

NameError: name 'zeros' is not defined

In [6]:
len(zeros.reshape(25,1)
)

NameError: name 'zeros' is not defined

In [7]:
zeros.reshape(25,-1)
# row 25 ota column jati pani as idk

NameError: name 'zeros' is not defined

In [8]:
repeat = np.repeat(5,100)
repeat

array([5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5,
       5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5,
       5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5,
       5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5,
       5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5])

In [9]:
a=repeat.reshape(10,10)
a.shape

(10, 10)

In [10]:
sum = np.sum(repeat,axis=0)
sum

500

In [11]:
list3 = [1,2,3,4,5]
# list3**2
arr2 = np.array(list3)
arr2**2

array([ 1,  4,  9, 16, 25], dtype=int32)

In [12]:
rand = np.random.randn(5,5)
# rand
rand.shape

(5, 5)

In [13]:
rant2 = np.random.randint(5,400,500)

In [14]:
rant2

array([ 55, 123, 162, 261, 320, 314, 226,  50, 353, 254, 159, 280, 179,
       390, 361, 157,  14,  79,  76,  26,  39,  40, 247,  23,  77, 390,
       293,  11, 248,  30, 282, 169, 192, 186, 348, 309, 229,   5, 231,
       378, 274,   6, 306, 369,  28, 359,  72, 330, 164, 344,  95, 337,
       146, 280, 215,  66, 221,  52, 143, 124, 172, 358, 106, 286, 286,
       131, 259,  95, 217, 160, 265, 203, 158, 108, 376, 122, 273, 314,
       140, 223, 208, 157,  97, 223, 262, 350, 294,  51, 316, 216,  65,
       327, 224, 208, 380, 249,  86, 246, 267, 161, 212,  25,  86, 163,
        59, 325, 337,  20, 193, 134, 334,  19,  75, 289,  54, 311, 391,
        69,  60, 119,  66, 174,  41, 268,  18,  97, 377, 364,  74, 106,
       353, 191,  48, 206,  78, 297, 140,  65, 189, 249, 136,  78, 352,
       321, 287,  18, 389, 336, 213, 356, 348, 271,  44, 384,  32, 256,
       249, 116, 317, 260, 368, 393, 158, 102, 325,  57, 150, 204, 261,
        13, 348,  86, 144, 365, 149, 150, 284,  21,  32, 332, 395, 146,
       131, 100, 253, 282,  33,  82, 314, 261,  52, 154, 247, 334, 292,
       347,  97, 297, 176, 122,  71, 354,  79,  26, 255, 113, 279,  82,
       314, 156, 305, 278,  66, 354,  47, 398, 378, 153, 191, 122, 168,
       383, 192, 212,   6, 107,  63, 356, 106, 282, 151, 329,   8, 282,
       286, 126, 301, 153, 316,  12, 235, 326, 214, 383, 338,  51, 320,
       148, 356, 388, 305, 196,  50, 371, 288, 210, 128, 275, 352, 299,
       352,  20, 123, 210, 146, 109, 275, 349, 267, 119, 107, 349,  38,
       199,  58, 385, 305, 326, 370, 190,  56,  22, 169,  53, 246, 257,
        26, 222, 372, 183, 314, 311,  90,  42, 353,  58,  43, 122, 376,
        71, 169, 289,  81, 205, 376, 205,  59, 366, 335, 317,  38, 188,
       398, 318, 379, 374,   8, 287, 342, 273, 268, 154,  58, 216, 366,
       360, 197, 203, 393, 333,  50, 134, 298, 164, 165, 103, 236, 398,
        46,  80, 379, 132, 317, 351, 105, 110,  61, 198, 115, 110,  56,
       167, 130, 141, 170, 238, 383, 146, 279, 328, 265, 340, 325,  21,
       224, 311, 365, 396, 206, 138, 322, 118,  41, 356, 249, 213,  52,
       193, 373, 244, 161, 212, 239, 143, 218, 229, 247, 137, 128, 246,
       267, 260, 380, 344, 126, 168, 243, 309, 272,  53, 266, 164, 284,
       300,  61,  14, 267,  89,  40, 361, 363, 190,  54, 255, 241, 173,
       112, 107, 171, 127, 117, 290, 267, 381, 387,  72, 128, 199,  11,
        24,  47, 114,  55, 233, 107, 379,  51,  40, 231,  90, 115, 100,
        45,  34, 333, 159, 287, 316,  85, 333, 185, 307, 192, 247, 181,
       235, 249, 382,  16, 338, 115, 136, 398, 365,  65,  87, 341,  66,
       348, 244,  56, 242, 231,  91, 212, 244, 330, 259, 140, 379, 203,
       256, 217, 394, 245, 181, 345,  59,  53,  76, 225,  43, 197, 176,
       134, 311, 378, 119, 140, 314])

In [15]:
from collections import Counter

counts = Counter(rant2)

In [16]:
counts

Counter({55: 2,
         123: 2,
         162: 1,
         261: 3,
         320: 2,
         314: 6,
         226: 1,
         50: 3,
         353: 3,
         254: 1,
         159: 2,
         280: 2,
         179: 1,
         390: 2,
         361: 2,
         157: 2,
         14: 2,
         79: 2,
         76: 2,
         26: 3,
         39: 1,
         40: 3,
         247: 4,
         23: 1,
         77: 1,
         293: 1,
         11: 2,
         248: 1,
         30: 1,
         282: 4,
         169: 3,
         192: 3,
         186: 1,
         348: 4,
         309: 2,
         229: 2,
         5: 1,
         231: 3,
         378: 3,
         274: 1,
         6: 2,
         306: 1,
         369: 1,
         28: 1,
         359: 1,
         72: 2,
         330: 2,
         164: 3,
         344: 2,
         95: 2,
         337: 2,
         146: 4,
         215: 1,
         66: 4,
         221: 1,
         52: 3,
         143: 2,
         124: 1,
         172: 1,
         358: 1,
         106: 3,
         286: 3,
         131: 2,
         259: 2,
         217: 2,
         160: 1,
         265: 2,
         203: 3,
         158: 2,
         108: 1,
         376: 3,
         122: 4,
         273: 2,
         140: 4,
         223: 2,
         208: 2,
         97: 3,
         262: 1,
         350: 1,
         294: 1,
         51: 3,
         316: 3,
         216: 2,
         65: 3,
         327: 1,
         224: 2,
         380: 2,
         249: 5,
         86: 3,
         246: 3,
         267: 5,
         161: 2,
         212: 4,
         25: 1,
         163: 1,
         59: 3,
         325: 3,
         20: 2,
         193: 2,
         134: 3,
         334: 2,
         19: 1,
         75: 1,
         289: 2,
         54: 2,
         311: 4,
         391: 1,
         69: 1,
         60: 1,
         119: 3,
         174: 1,
         41: 2,
         268: 2,
         18: 2,
         377: 1,
         364: 1,
         74: 1,
         191: 2,
         48: 1,
         206: 2,
         78: 2,
         297: 2,
         189: 1,
         136: 2,
         352: 3,
         321: 1,
         287: 3,
         389: 1,
         336: 1,
         213: 2,
         356: 4,
         271: 1,
         44: 1,
         384: 1,
         32: 2,
         256: 2,
         116: 1,
         317: 3,
         260: 2,
         368: 1,
         393: 2,
         102: 1,
         57: 1,
         150: 2,
         204: 1,
         13: 1,
         144: 1,
         365: 3,
         149: 1,
         284: 2,
         21: 2,
         332: 1,
         395: 1,
         100: 2,
         253: 1,
         33: 1,
         82: 2,
         154: 2,
         292: 1,
         347: 1,
         176: 2,
         71: 2,
         354: 2,
         255: 2,
         113: 1,
         279: 2,
         156: 1,
         305: 3,
         278: 1,
         47: 2,
         398: 4,
         153: 2,
         168: 2,
         383: 3,
         107: 4,
         63: 1,
         151: 1,
         329: 1,
         8: 2,
         126: 2,
         301: 1,
         12: 1,
         235: 2,
         326: 2,
         214: 1,
         338: 2,
         148: 1,
         388: 1,
         196: 1,
         371: 1,
         288: 1,
         210: 2,
         128: 3,
         275: 2,
         299: 1,
         109: 1,
         349: 2,
         38: 2,
         199: 2,
         58: 3,
         385: 1,
         370: 1,
         190: 2,
         56: 3,
         22: 1,
         53: 3,
         257: 1,
         222: 1,
         372: 1,
         183: 1,
         90: 2,
         42: 1,
         43: 2,
         81: 1,
         205: 2,
         366: 2,
         335: 1,
         188: 1,
         318: 1,
         379: 4,
         374: 1,
         342: 1,
         360: 1,
         197: 2,
         333: 3,
         298: 1,
         165: 1,
         103: 1,
         236: 1,
         46: 1,
         80: 1,
         132: 1,
         351: 1,
         105: 1,
         110: 2,
         61: 2,
         198: 1,
         115: 3,
         167: 1,
         130: 1,
         141: 1,
         170: 1,
         238: 1,
         328: 1,
         340: 1,
         396: 1,
         138: 1,
         322: 1,
         118: 1,
         373: 1,
         244: 3,
         239: 1,
         218: 1,
         137: 1,
         243: 1,
         272: 1,
         266: 1,
         300: 1,
         89: 1,
         363: 1,
         241: 1,
         173: 1,
         112: 1,
         171: 1,
         127: 1,
         117: 1,
         290: 1,
         381: 1,
         387: 1,
         24: 1,
         114: 1,
         233: 1,
         45: 1,
         34: 1,
         85: 1,
         185: 1,
         307: 1,
         181: 2,
         382: 1,
         16: 1,
         87: 1,
         341: 1,
         242: 1,
         91: 1,
         394: 1,
         245: 1,
         345: 1,
         225: 1})

In [17]:
print(len(counts),len(rant2))

288 500

In [18]:
l1= []

l1.append(1)

In [19]:
l1

[1]

In [20]:
l2 = [1,2,3,[1,2]]
l2

[1, 2, 3, [1, 2]]

In [21]:
# tuple
# tuple immutable hai guys
t1 = (1,2,3)
t1

(1, 2, 3)

In [23]:
# dictionary
d1 = {}
d1[1] = 'Nepal'
d1[2] = 'India'
# d1
d1.values()

dict_values(['Nepal', 'India'])